<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a routerLink="/app/home">Star Wars</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/home">Home</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/people">People</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/app/about">About</a></li>
    </ul>
</nav>